.actions {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

.root {
  padding-block: 1rem;
}

.info {
  & img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    font-size: 0.8rem;
    overflow: hidden;
  }
}
