* {
  margin: 0;
  box-sizing: border-box;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}
